@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	color: #595CFF;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.4em; 
	background-image: url(./Images/marble.jpg);
	background-size: 100%;
	background-color:#FFFFFF;
}
#nav{
	width:100%;
	height:25%;
	position:fixed;
	top:0.5%;
	background-color: #7FCAE3;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: yellow;
	border-top-width: 2.5px;
	border-bottom-width: 2.5px;

}
#nav ul{
	list-style-type: none;
	display:block;
}
#nav ul li{
	display:inline-flex;
	margin-left: 13%;
	margin-top:2%;
	font-size:22px;
}
#nav ul li a{
	color:#ffffff;
	text-decoration: none;
}
#nav ul li a:hover{
	color:#000;
}
#nav h1{
	margin-top:5%;
	width:30%;
	margin-left:30%;
	text-align: center;
}
#sample{
	display:block;
	margin-top:15%;
	background-color:#CBD0D1;
	width:100%;
	height:20%;

}
#sample a{
	padding-top:2%;
	padding-bottom: 2%;
	margin-left: 40%;
	font-size: 25px;
	text-decoration: none;
	text-align: center;
	color:#000;
	
}
#main{
	display:block;
	padding-left: 30%;
}
#main h1{
	margin-top: 4%;
	color:#000;
	font-size: 30px;
	width:50%;
	text-align: center;

}
#main h2{
	margin-top: 4%;
	color:#000;
	font-size: 22px;
	width:50%;
	text-align: center;

}
#main img{
	border-style:solid;
	border-color: yellow;
	border-width:3px;
	height:400px;
	width:350px;
}
#footer{
	margin-top:5%;
	display:block;
	width:100%;
	height:40%;
	background-color: #050505;
	

}
#footer ul{
	display: inline-block;
	list-style-type: none;
	text-decoration: none;
	margin-left: 13%;
	text-align:center;


}
#footer ul li{
	display:block;
	margin-top:2%;
	font-size: 16px;
	}
#footer ul li h1{
	display: block;
	font-size: 22%;
	margin-top:3%;
	color:#000;

}