@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	color: #595CFF;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.4em; 
	background-color:#FFFFFF;
}
#nav{
	width:100%;
	position:fixed;
	top:0.5%;
	background-color: #1255A3;

}
#nav ul{
	list-style-type: none;
	display:block;
}
#nav ul li{
	display:inline-flex;
	margin-left: 10%;
	
	font-size:25px;
}
#nav ul li a{
	color:#ffffff;
}
#nav h1{
	width:30%;
	margin-left:30%;
	text-align: center;
}
